@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.aboutUs-headeline h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px #7196C3;
}

.about-title{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.aboutDetails{
    font-family: 'Poppins', sans-serif;
}